body {
  overflow: hidden;
}

#featureAnimation, #featureBox {
  background-color: #000;
  height: 220px;
  overflow: hidden;
  line-height: normal;
  font-size: 80%;
}

#featureAnimation {
  position: relative;
  visibility: hidden;
}

#featureBox {
  position: absolute;
}

#featureAnmation, #featureBox, #violator {
  left: 50%;
  transform: translate(-50%, 0);
}

#featureAnimation, #featureBox, #whyGSAP, .featureTextGreen, .featureTextWhite {
  width: 936px;
}

#whyGSAP, .featureTextGreen, .featureTextWhite {
  text-align: center;
}

#whyGSAP, .featureTextGreen, .featureTextWhite {
  font-size: 50px;
  position: absolute;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  top:0;
}

.featureTextGreen {
  color: #91e600;
  font-weight: bold;
}

.featureTextWhite {
  color: white;
  font-weight: normal;
}

.star {
  position: absolute;
  width: 16px;
  height: 16px;
  display: none;
}

#browserIcons {
  top: 64px;
  left: 180px;
  width: 92px;
  height: 92px;
  position: absolute;
  text-align: left;
}

#browserIcons img {
  position: absolute;
}

.featureTextMinor {
  color: #CCCCCC;
  font-weight: normal;
  font-size: 20px;
  position: absolute;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  visibility: hidden;
}

.dot {
  position: absolute;
  background-color: #91e600;
}

#ctrl_slider {
  position: absolute;
  width: 824px;
  height: 10px;
  left: 18px;
  top: 196px;
  background: rgba(80,80,80,0.3);
  border: 1px solid rgba(102,102,102,0.5);
  visibility: hidden;
}
